
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    margin: 0 auto;
    box-sizing: border-box;
}
html {
    background-color: hsl(204, 43%, 93%);
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
#card {
    margin-top: 25vh;
    width: 600px;
    height: 450px;
    box-shadow: 12px 17px 13px -5px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}
#top-section {
    width: 100%;
    height: 45%;
    background-color: white;
    padding: 30px;
}
#top-section h2 {
    color: hsl(179, 66%, 48%);
    margin-bottom: 15px;
}
#top-section h4 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 8px;
}
#top-section p {
    color: hsl(218, 22%, 67%);
}
#bottom-section {
    width: 100%;
    height: 55%;
}
#bottom-left-section {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
}
#bottom-right-section {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    background-color: hsl(179, 66%, 48%);
    padding: 30px;
    
}
button {
    background-color: hsl(71, 73%, 54%);
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'Karla', sans-serif;
}
button:hover {
    cursor: pointer;
    background-color: #C9EB36;
    transform: scale(1.01);
}
#bottom-left-section h3 {
    margin-bottom: 18px;
}
#bottom-left-section h2 {
    font-size: 1.8rem;
    margin-bottom: 6px;
}
#bottom-left-section span {
    font-size: 0.8rem;
    opacity: 0.7;
    display: inline-block;
    position: relative;
    left: 7px;
    top: -5px;
    font-weight: 400;
}
#bottom-left-section p {
    margin-bottom: 40px;
}

#bottom-right-section ul {
    list-style: none;
    padding: 0;
    margin-top: 18px;
    font-size: 0.9rem;
    opacity: 0.9;
    line-height: 1.4;
}
